@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Shadow Hand';
  src: url('https://2ttf.com/UIswCwhB?v=2&bg=999999') format('truetype');
}

.font-shadow-hand {
  font-family: 'Shadow Hand', cursive;
}